<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <a href="/super/{{hero.id}}" class="lead">{{ hero.name }}</a>
        <img src={{ hero.image.url }}>
        <p>{{ hero.origin }}</p>
    </div>
</div>